.ContinueWatching{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}
.topsection{
    display: flex;
    align-items: center;
    gap: 8px;
}
.bar{
    width: 0.3rem;
    height: 2rem;
    border-radius: 0.375rem;
    background-color: white;
}
.headtitle {
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0;
    color: white;
}
.bottomsection{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 13px;

}
.bottomsection::-webkit-scrollbar{
    display: none;
}
.animeitem {
    position: relative;
    cursor: pointer;
    /* border-radius: 12px; */
}
.animeimg {
    overflow: hidden;
    width: 320px;
    aspect-ratio: 16/9;
    border-radius: 12px;
}
.imgcover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 300ms ease-out; 
}
.animeitem:hover .imgcover {
    transform: scale(1.03);
}
.overlay {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%); */
    background: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.8) 80%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 0;
    opacity: 1;
    transition: all 300ms ease-in-out;
    border-radius: 12px;
}
.textcontainer{
    position: absolute;
    bottom: 0;
    padding: 8px 12px;
    z-index: 7;
}
.title{
    display: flex;
    flex-direction: column;
}
.animetitle{
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
}
.animesubtitle{
    color: #d1d7e0;
    font-size: 0.7rem;
}


@media(max-width:1300px){
    .bottomsection{
        padding:0 0 0 0.75rem;
    }
    .leftarrow svg{
        margin:0 5px;
    }
    .topsection{
        padding:0 0.75rem;
    }
    .headtitle{
        font-size: 21px;
    }

}

@media(max-width:768px){
    .bar{
        width: 0.35rem;
        height: 1.5rem;
        border-radius: 0.375rem;
        background-color: white;
    }
    .animeimg{
        width: 250px;
    }
    .ContinueWatching{
        margin: 0;
    }
}

@media(max-width:640px){
    .animeimg{
        width: 240px;
    }
    .headtitle{
        font-size: 19px;
    }
}