.episodesection{
    max-width: 1000px;
    border-top: 1px solid rgb(116, 116, 116,0.3);
    border-bottom: 1px solid rgb(116, 116, 116,0.3);
    margin: 15px 0;
}
.eptopsection{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 0 10px 0;
    /* border: 1px solid white; */
}
.epleft{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.epright{
    display: flex;
    align-items: center;
}
.epheading{
    font-size: 18px;
}
.refresh{
    margin-left: 10px;
    border: none;
    outline: none;
}
.epbottomsection{
    margin: 20px auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); 
    gap: 10px;
    /* border: 1px solid white; */
}
.epdiv{
    background-color: #18181b;
    display: inline-block;
    padding: 7px 0;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffffb2;
    width: 50px;
    text-align: center;
    border: none;
    outline: none;
}

/* @media(max-width:1200px){
    .episodesection{
        max-width: 90%;
        margin: auto;
    }
} */

@media(max-width:900px){
    .episodesection{
        max-width: 98%;
        margin: auto;
    }
    .epbottomsection{
        gap: 7px;
        grid-template-columns: repeat(auto-fill, minmax(45px, 1fr)); 
        max-height: 190px;
        overflow-y: scroll;
        margin: 20px 2px;
    }
    .epdiv{
        width: 45px;
        padding: 5px;
    }
}

@media(max-width:600px){
    .episodesection{
        max-width: 98%;
        margin: auto;
    }
  
}
